CMakeFiles/*
libbinapi.a
cmake_install.cmake
binapi_proj
CMakeCache.txt
/.vs/binapi
/binapi/.vs/binapi
/test/x64/Debug/test.tlog
*.bak
/test/x64/Debug
/test/x64/Release
/x64/Debug
/x64/Release
*.cmake
CMakePresets.json
conanbuild.sh
conanrun.sh
.gitignore
deactivate_conanbuild.sh
deactivate_conanrun.sh
conanrunenv-debug-x86_64.sh
conanbuildenv-debug-x86_64.sh
Makefile
lib/CMakeFiles/*
